{% extends 'layouts/blank.html' %}

{% block content %} 

    <div class="max-w-4xl mx-auto px-8 py-24">
        <h1>Most Popular:</h1>

    <ul id="item-list" class="mb-10">
    {% for item in items %}
    <li class="text-8xl font-thin">{{ item.name }}</li>
    {% endfor %}
</ul>

<form 
    hx-post="{% url 'create_item' %}" 
    hx-target="#item-list" 
    hx-swap="beforeend" 
    _="on htmx:afterRequest reset() me" >
    {% csrf_token %}
    <div class="flex gap-5 max-w-lg ">
        <input type="text" name="name" placeholder="Add Item" autofocus />
        <button
  type="button"
  class="bg-rose-600 hover:bg-green-700 text-white font-medium py-2 px-4 rounded-xl shadow-sm focus:outline-none focus:ring-2 focus:ring-rose-500 focus:ring-offset-2"
  aria-label="Submit">
  Submit
</button>

    </div>
</form>
    </div>
    

{% endblock %}